@charset "UTF-8";
@font-face {
  font-family: 'PragmaticaLight';
  src: url("../fonts/PragmaticaLightC/PragmaticaLightC.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaLightC/PragmaticaLightC.woff") format("woff"), url("../fonts/PragmaticaLightC/PragmaticaLightC.ttf") format("truetype"), url("../fonts/PragmaticaLightC/PragmaticaLightC.svg#PragmaticaLightC") format("svg");
  font-weight: normal;
  font-style: normal; }
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2f2f2f;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #2f2f2f;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

h2 {
  color: #2f2f2f;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-family: "PragmaticaLight"; }
  @media (min-width: 768px) {
    h2 {
      font-size: 33px;
      line-height: 48px; } }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.color-orange {
  color: #f68636; }

.heading-line {
  margin: 0 auto;
  max-width: 450px;
  border-bottom: 1px solid #f6be96; }

#tooltip {
  z-index: 9999;
  padding: 22px;
  font-size: 16px;
  line-height: 22px;
  min-width: 250px;
  max-width: 400px;
  background: #fff;
  position: absolute;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.23); }

.form-block {
  padding: 25px 25px;
  background: #fff;
  max-width: 400px; }
  .form-block .form-title {
    color: #2f2f2f;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin: 0 -15px 10px -15px;
    font-family: "PragmaticaLight"; }
  .form-block .form-worktime {
    color: #7e7e7e;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0 -15px 40px -15px; }
  .form-block .form-content {
    max-width: 336px;
    margin: 0 auto;
    padding-bottom: 5px; }
  .form-block .order-step {
    padding: 0;
    list-style: none;
    counter-reset: li;
    margin: 0 0 20px 0; }
    .form-block .order-step li {
      color: #2f2f2f;
      font-size: 18px;
      line-height: 24px;
      padding-left: 24px;
      margin-bottom: 30px;
      position: relative; }
      .form-block .order-step li:last-child {
        margin-bottom: 0; }
        .form-block .order-step li:last-child:after {
          display: none; }
      .form-block .order-step li:before {
        top: 50%;
        left: 0;
        color: #fff;
        width: 8px;
        height: 8px;
        text-align: center;
        position: absolute;
        content: '';
        margin-top: -4px;
        counter-increment: li;
        background: #f68636;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
  .form-block .form-text {
    color: #7e7e7e;
    font-size: 14px;
    line-height: 20px;
    padding-top: 28px;
    text-align: center; }
  @media (min-width: 768px) {
    .form-block {
      width: 580px;
      padding: 35px 35px;
      max-width: inherit; }
      .form-block.form-sm {
        width: 580px; }
      .form-block .form-title {
        font-size: 36px;
        line-height: 42px; }
      .form-block .form-worktime {
        font-size: 16px; }
      .form-block .form-text {
        font-size: 16px;
        line-height: 24px; } }
  @media (min-width: 1024px) {
    .form-block {
      width: 800px;
      padding: 25px 50px 40px 50px; }
      .form-block.form-sm {
        padding: 40px 40px;
        width: 580px; }
        .form-block.form-sm .form-content {
          margin: 0 auto;
          max-width: 336px; }
      .form-block.form-partners {
        padding: 14px; }
      .form-block .form-content {
        margin-left: -15px;
        padding: 0 25px;
        max-width: inherit; }
      .form-block .form-title {
        font-size: 42px;
        line-height: 54px; }
        .form-block .form-title.form-title-sm {
          font-size: 36px;
          line-height: 42px;
          margin: 0 -30px 40px -30px; } }

.btn-close {
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  position: absolute;
  background: url("../img/icon__close.png") 0 0 no-repeat; }
  @media (min-width: 1024px) {
    .btn-close {
      top: 15px;
      right: 15px; } }

.modal-content {
  max-width: 960px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 25px 20px; }
  .modal-content h3 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px; }
  .modal-content li {
    margin-bottom: 15px; }
  @media (min-width: 768px) {
    .modal-content {
      font-size: 20px;
      line-height: 30px;
      padding: 30px 35px; } }

.m_title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
  font-family: "Open Sans", Arial, sans-serif; }

.m_t1 {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  border-bottom: 1px solid #ccc; }

.m_t2 {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 1024px) {
    .container {
      width: 990px; } }
  @media (min-width: 1024px) {
    .container {
      width: 990px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1024px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1024px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.btn {
  margin: 0;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  position: relative;
  padding: 12px 25px;
  background: #f68636;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  touch-action: manipulation;
  border: 1px solid #f68636;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  border-radius: 23px; }
  .btn:hover {
    color: #f68636;
    background: #fff;
    text-decoration: none; }
  .btn:active {
    top: 1px; }

.btn-md {
  padding: 11px 24px;
  font-weight: 600;
  border-width: 2px; }
  @media (min-width: 768px) {
    .btn-md {
      font-size: 20px;
      padding: 21px 39px;
      -webkit-border-radius: 33px;
      -moz-border-radius: 33px;
      -ms-border-radius: 33px;
      border-radius: 33px; } }

.btn-transparent {
  color: #bababa;
  font-weight: 300;
  border-color: #bababa;
  background: transparent; }
  .btn-transparent:hover {
    color: #f68636;
    border-color: #f68636; }

.btn-white-orange {
  font-weight: 600;
  background: #fff;
  padding: 11px 24px;
  color: #f68636;
  border: 2px solid #f68636; }
  .btn-white-orange:hover {
    color: #fff;
    background: #f68636; }
  @media (min-width: 768px) {
    .btn-white-orange {
      font-size: 20px;
      padding: 21px 30px;
      -webkit-border-radius: 33px;
      -moz-border-radius: 33px;
      -ms-border-radius: 33px;
      border-radius: 33px; } }

.form-control {
  margin: 0;
  width: 100%;
  outline: none;
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  padding: 17px 26px;
  text-align: center;
  display: inline-block;
  background: transparent;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .form-control::-moz-placeholder {
    color: #2f2f2f;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #2f2f2f; }
  .form-control::-webkit-input-placeholder {
    color: #2f2f2f; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

.red .form-control {
  border-color: #ff0000; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 30px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 1024px) and (max-width: 1023px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 1024px) and (max-width: 1023px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 1024px) and (max-width: 1023px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 1024px) and (max-width: 1023px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1024px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1024px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1024px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1024px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 1024px) and (max-width: 1023px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1024px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.footer {
  text-align: center; }
  .footer .footer-top {
    color: #666;
    padding: 20px 0;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    background: #f7f7f7; }
    .footer .footer-top strong {
      font-weight: 600; }
    .footer .footer-top a {
      color: #f68636;
      text-decoration: underline; }
      .footer .footer-top a:hover {
        text-decoration: none; }
  .footer .footer-bottom {
    padding: 10px 0;
    background: #fff; }
    .footer .footer-bottom a {
      color: #4a4a4a;
      font-size: 14px;
      line-height: 20px;
      text-decoration: underline; }
      .footer .footer-bottom a:hover {
        text-decoration: none; }
    .footer .footer-bottom .madein {
      color: #444;
      height: 30px;
      font-size: 14px;
      line-height: 20px;
      display: inline-block;
      text-decoration: none;
      vertical-align: middle;
      padding: 5px 95px 0 5px;
      background: url("../img/creator-logo.png") 100% 50% no-repeat; }
      .footer .footer-bottom .madein span {
        display: inline-block;
        border-bottom: 1px solid #444; }
    .footer .footer-bottom .footer-left {
      text-align: left;
      margin-bottom: 0; }
    .footer .footer-bottom .footer-right {
      text-align: right; }
  .footer .footer-left {
    margin-bottom: 20px; }

.b01 {
  padding-top: 15px;
  padding-bottom: 50px;
  background: url("../img/b01_bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  .b01 .top {
    text-align: center;
    margin-bottom: 50px; }
    .b01 .top .top-logo {
      width: 170px;
      margin: 0 auto 15px auto; }
    .b01 .top .top-text {
      color: #2f2f2f;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      margin-bottom: 15px; }
    .b01 .top .top-contact {
      text-align: center; }
      .b01 .top .top-contact li {
        color: #2f2f2f;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px; }
        .b01 .top .top-contact li strong {
          font-weight: 600; }
        .b01 .top .top-contact li a {
          color: #222;
          font-size: 16px;
          font-weight: 700;
          line-height: 21px;
          text-decoration: none; }
  .b01 h1 {
    color: #2f2f2f;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "PragmaticaLight"; }
    .b01 h1 .color-orange {
      display: block; }
  .b01 .text {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px; }
  .b01 .advantage {
    padding-top: 65px;
    text-align: center;
    margin-bottom: 30px;
    position: relative; }
    .b01 .advantage:before {
      top: 0;
      left: 50%;
      content: '';
      width: 56px;
      height: 56px;
      margin-left: -28px;
      position: absolute; }
    .b01 .advantage.item1:before {
      background: url("../img/b01__item1.png") 50% 0 no-repeat;
      background-size: cover; }
    .b01 .advantage.item2:before {
      background: url("../img/b01__item2.png") 50% 0 no-repeat;
      background-size: cover; }
    .b01 .advantage.item3:before {
      background: url("../img/b01__item3.png") 50% 0 no-repeat;
      background-size: cover; }
    .b01 .advantage h4 {
      color: #2f2f2f;
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
      margin-bottom: 5px; }
    .b01 .advantage p {
      color: #1e1e1e;
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      margin-bottom: 0; }
  .b01 .text-center {
    font-size: 14px;
    line-height: 18px; }
  .b01 .worktime {
    color: #1e1e1e;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 50px; }
    .b01 .worktime strong {
      font-weight: 600; }
  @media (min-width: 768px) {
    .b01 {
      padding-bottom: 40px;
      background-position: 75% 0;
      background-size: auto auto; }
      .b01 .top {
        width: 100%;
        display: table;
        height: 70px;
        margin-bottom: 60px; }
        .b01 .top .top-logo {
          margin: 0;
          display: table-cell;
          vertical-align: top; }
        .b01 .top .top-text {
          padding: 0 50px;
          display: table-cell;
          vertical-align: middle; }
        .b01 .top .top-contact {
          width: 195px;
          padding-top: 5px;
          text-align: right;
          display: table-cell;
          vertical-align: top; }
      .b01 h1 {
        font-size: 40px;
        line-height: 45px; }
        .b01 h1 span {
          display: block; }
      .b01 .text {
        margin-bottom: 50px; } }
  @media (min-width: 1024px) {
    .b01 {
      background-position: 50% 0; }
      .b01.thankyou {
        height: auto; }
        .b01.thankyou h1 {
          font-size: 52px;
          line-height: 64px; }
      .b01 .advantage {
        margin-bottom: 50px; }
        .b01 .advantage h4 span {
          display: block; } }

.b02 {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 60px; }
  .b02 h2 {
    margin-bottom: 40px; }
  .b02 .indication li {
    font-size: 14px;
    line-height: 20px;
    padding-left: 35px;
    position: relative;
    margin-bottom: 30px; }
    .b02 .indication li:before {
      top: 0;
      left: 0;
      color: #fff;
      width: 20px;
      height: 20px;
      padding: 5px 0;
      text-align: center;
      content: "\f00c";
      position: absolute;
      background: #cccccc;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      font: normal normal normal 10px/1 FontAwesome; }
  @media (min-width: 768px) {
    .b02 .indication:last-child {
      margin-bottom: 0; } }

.b03 {
  padding-top: 70px;
  padding-bottom: 95px;
  background: #f7f7f7 url("../img/b03__bg.jpg") 50% 0 no-repeat; }
  .b03 .heading-line {
    margin-bottom: 15px; }
  .b03 .text {
    max-width: 860px;
    text-align: center;
    margin: 0 auto 40px auto; }
  .b03 .content-image {
    position: relative; }
    .b03 .content-image:before {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      content: '';
      position: absolute;
      border: 1px solid #fff; }
  @media (min-width: 768px) {
    .b03 {
      font-size: 18px;
      line-height: 26px; } }

.b04 {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 60px; }
  .b04 h2 {
    margin-bottom: 30px; }
  .b04 .advantage {
    text-align: center;
    margin-bottom: 40px; }
    .b04 .advantage .advantage-img {
      width: 166px;
      height: 166px;
      overflow: hidden;
      margin: 0 auto 10px auto;
      border: 5px solid #f7f8f9;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .b04 .advantage h4 {
      color: #2f2f2f;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 10px; }
    .b04 .advantage p {
      color: #2f2f2f;
      font-size: 14px;
      line-height: 1.3;
      margin-bottom: 0; }
  .b04 .text-box {
    color: #646464;
    margin: 0 auto;
    max-width: 680px;
    font-size: 16px;
    line-height: 25px;
    padding: 7px 20px;
    text-align: center;
    background: #f6f6f6;
    position: relative; }
    .b04 .text-box:before {
      top: -10px;
      left: -10px;
      color: #f68636;
      content: "\f10d";
      text-align: center;
      position: absolute;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      font: normal normal normal 21px/1 FontAwesome; }
  @media (min-width: 768px) {
    .b04 h2 span {
      display: block; }
    .b04 .text-box {
      padding: 7px 55px; }
      .b04 .text-box span {
        display: block; } }
  @media (min-width: 1024px) {
    .b04 .advantage h4 span {
      display: block; } }

.b05 {
  padding-top: 60px;
  background: #f7f7f7;
  padding-bottom: 60px; }
  .b05 .heading-line {
    max-width: 700px;
    margin-bottom: 15px; }
  .b05 .text {
    margin: 0 auto;
    max-width: 840px;
    text-align: center; }
    .b05 .text.text-one {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 25px; }
    .b05 .text.text-two {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 55px; }
  .b05 .detail-image {
    margin: 0 auto;
    max-width: 535px; }
  .b05 .detail {
    margin: 0 auto;
    max-width: 480px; }
    .b05 .detail li {
      min-height: 200px;
      position: relative;
      margin-bottom: 25px;
      padding: 20px 0 20px 135px;
      background: url("../img/b05__item_bg.png") 50% 0 repeat-y; }
      .b05 .detail li:before {
        left: 0;
        top: 50px;
        content: '';
        width: 121px;
        height: 121px;
        position: absolute; }
      .b05 .detail li.item1:before {
        background: url("../img/b05__item1.png") 0 0 no-repeat; }
      .b05 .detail li.item2:before {
        background: url("../img/b05__item2.png") 0 0 no-repeat; }
      .b05 .detail li.item3:before {
        background: url("../img/b05__item3.png") 0 0 no-repeat; }
      .b05 .detail li.item4:before {
        background: url("../img/b05__item4.png") 0 0 no-repeat; }
      .b05 .detail li h4 {
        color: #f68636;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 15px; }
      .b05 .detail li p {
        color: #000;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 0; }
  @media (min-width: 768px) {
    .b05 .detail {
      width: 100%;
      display: table;
      max-width: inherit;
      margin-bottom: 15px; }
      .b05 .detail li {
        margin-bottom: 0;
        display: table-cell;
        vertical-align: top; }
        .b05 .detail li.item1 {
          width: 395px;
          padding-right: 10px; }
        .b05 .detail li.item3 {
          width: 370px;
          padding-right: 10px; } }
  @media (min-width: 1024px) {
    .b05 .detail-image {
      margin: 0 0 0 290px; }
    .b05 .detail h4 {
      margin-bottom: 20px; }
    .b05 .detail li {
      padding-top: 25px;
      padding-bottom: 35px; }
      .b05 .detail li.item1 {
        width: 505px; }
        .b05 .detail li.item1:after {
          top: 185px;
          left: 65px;
          content: '';
          width: 217px;
          height: 132px;
          position: absolute;
          background: url("../img/b05__line1.png") 0 0 no-repeat; }
      .b05 .detail li.item2:after {
        top: 175px;
        left: 10px;
        content: '';
        width: 30px;
        height: 71px;
        position: absolute;
        background: url("../img/b05__line2.png") 0 0 no-repeat; }
      .b05 .detail li.item3 {
        width: 490px; }
        .b05 .detail li.item3:after {
          top: -54px;
          left: 72px;
          content: '';
          width: 294px;
          height: 96px;
          position: absolute;
          background: url("../img/b05__line3.png") 0 0 no-repeat; }
      .b05 .detail li.item4:after {
        top: -50px;
        left: 60px;
        content: '';
        width: 2px;
        height: 94px;
        position: absolute;
        background: url("../img/b05__line4.png") 0 0 no-repeat; } }

.b06 {
  background: #fff;
  padding-top: 85px;
  padding-bottom: 55px; }
  .b06 h2 {
    margin-bottom: 30px; }
  .b06 .text {
    margin-bottom: 60px; }
    .b06 .text li {
      padding: 15px 0;
      font-size: 16px;
      line-height: 26px; }
      .b06 .text li:first-child {
        color: #777;
        border-bottom: 5px solid #f68636; }
      .b06 .text li:last-child {
        color: #2f2f2f; }
  .b06 .help {
    width: 285px;
    display: table;
    position: relative;
    margin: 0 auto 30px auto; }
    .b06 .help .help-inner {
      height: 126px;
      color: #4a4a4a;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      padding-left: 140px;
      display: table-cell;
      vertical-align: middle; }
    .b06 .help:before {
      left: 0;
      top: 0;
      content: '';
      width: 126px;
      height: 126px;
      position: absolute;
      border: 5px solid #f7f8f9;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .b06 .help.item1:before {
      background: url("../img/b06__item01.jpg") 50% 50% no-repeat; }
    .b06 .help.item2:before {
      background: url("../img/b06__item02.jpg") 50% 50% no-repeat; }
    .b06 .help.item3:before {
      background: url("../img/b06__item03.jpg") 50% 50% no-repeat; }
    .b06 .help.item4:before {
      background: url("../img/b06__item04.jpg") 50% 50% no-repeat; }
    .b06 .help.item5:before {
      background: url("../img/b06__item05.jpg") 50% 50% no-repeat; }
    .b06 .help.item6:before {
      background: url("../img/b06__item06.jpg") 50% 50% no-repeat; }
    .b06 .help.item7:before {
      background: url("../img/b06__item07.jpg") 50% 50% no-repeat; }
    .b06 .help.item8:before {
      background: url("../img/b06__item08.jpg") 50% 50% no-repeat; }
    .b06 .help.item9:before {
      background: url("../img/b06__item09.jpg") 50% 50% no-repeat; }
    .b06 .help.item10:before {
      background: url("../img/b06__item10.jpg") 50% 50% no-repeat; }
    .b06 .help.item11:before {
      background: url("../img/b06__item11.jpg") 50% 50% no-repeat; }
    .b06 .help.item12:before {
      background: url("../img/b06__item12.jpg") 50% 50% no-repeat; }
    .b06 .help.item13:before {
      background: url("../img/b06__item13.jpg") 50% 50% no-repeat; }
    .b06 .help.item14:before {
      background: url("../img/b06__item14.jpg") 50% 50% no-repeat; }
    .b06 .help.item15:before {
      background: url("../img/b06__item15.jpg") 50% 50% no-repeat; }
  @media (min-width: 768px) {
    .b06 h2 span {
      display: block; }
    .b06 .text {
      width: 100%;
      display: table;
      margin-bottom: 75px; }
      .b06 .text li {
        width: 50%;
        padding: 0;
        display: table-cell;
        vertical-align: top; }
        .b06 .text li:first-child {
          text-align: right;
          padding-right: 25px;
          border-right: 2px solid #f68636;
          border-bottom: none; }
        .b06 .text li:last-child {
          text-align: left;
          padding-left: 25px;
          border-left: 3px solid #f68636; } }
  @media (min-width: 1024px) {
    .b06 .text li {
      font-size: 18px;
      line-height: 26px; }
      .b06 .text li:first-child {
        padding-left: 15px; } }

.b07 {
  padding-top: 70px;
  background: #f7f7f7;
  padding-bottom: 70px; }
  .b07 .text {
    font-size: 16px;
    max-width: 760px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 65px auto; }
    .b07 .text strong {
      color: #f68636; }
  .b07 .heading-line {
    margin-bottom: 15px; }
  .b07 .showcase > li {
    margin-bottom: 50px; }
  .b07 .product {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    padding-bottom: 16px;
    border: 2px solid #fff; }
    .b07 .product .product-name {
      top: 15px;
      left: 18px;
      z-index: 40;
      color: #fff;
      position: absolute; }
      .b07 .product .product-name h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px; }
    .b07 .product .testdrive {
      top: -11px;
      right: -9px;
      z-index: 50;
      width: 98px;
      height: 51px;
      position: absolute;
      display: inline-block;
      background: url("../img/b07__testdrive.png") 0 0 no-repeat; }
      .b07 .product .testdrive:before {
        top: 60px;
        left: 50%;
        width: 27px;
        height: 10px;
        content: '';
        display: none;
        margin-left: -13px;
        position: absolute;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        background: url("../img/tooltip__arrow.png") 0 0 no-repeat; }
      .b07 .product .testdrive:hover:before {
        display: block; }
    .b07 .product .product-gallery {
      position: relative;
      margin-bottom: 20px; }
      .b07 .product .product-gallery .image-big {
        margin-bottom: 7px;
        position: relative; }
        .b07 .product .product-gallery .image-big .image-big-item {
          display: none;
          overflow: hidden; }
          .b07 .product .product-gallery .image-big .image-big-item.img1 {
            display: block; }
          .b07 .product .product-gallery .image-big .image-big-item a {
            display: block;
            position: relative; }
            .b07 .product .product-gallery .image-big .image-big-item a:before {
              top: 50%;
              left: 50%;
              z-index: 10;
              content: '';
              width: 54px;
              height: 54px;
              margin-top: -27px;
              margin-left: -27px;
              position: absolute;
              background: url("../img/product__hover.png") 0 0 no-repeat; }
            .b07 .product .product-gallery .image-big .image-big-item a img {
              -webkit-transition: 0.5s ease-out;
              -o-transition: 0.5s ease-out;
              transition: 0.5s ease-out; }
            .b07 .product .product-gallery .image-big .image-big-item a:hover img {
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -o-transform: scale(1.2);
              transform: scale(1.2);
              -webkit-transition: 0.5s ease-out;
              -o-transition: 0.5s ease-out;
              transition: 0.5s ease-out; }
            .b07 .product .product-gallery .image-big .image-big-item a:hover:before {
              background-position: 0 -54px; }
      .b07 .product .product-gallery .product-thumbs li {
        float: left;
        width: 64px;
        cursor: pointer;
        margin-left: 13px;
        position: relative; }
        .b07 .product .product-gallery .product-thumbs li:first-child {
          margin-left: 0; }
        .b07 .product .product-gallery .product-thumbs li:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          position: absolute; }
        .b07 .product .product-gallery .product-thumbs li:hover:before {
          border-bottom: 3px solid #f68636; }
        .b07 .product .product-gallery .product-thumbs li.active:before {
          border: 3px solid #ededed; }
    .b07 .product .product-content {
      padding: 0 17px; }
    .b07 .product .product-text {
      height: 180px;
      color: #727272;
      font-size: 14px;
      overflow: hidden;
      line-height: 20px;
      margin-bottom: 20px; }
    .b07 .product .product-price {
      overflow: hidden;
      line-height: 30px;
      background: #f7f8f9;
      margin-bottom: 20px;
      padding: 18px 25px 18px 30px; }
      .b07 .product .product-price .old {
        float: left;
        color: #7e7e7e;
        font-size: 18px;
        display: inline-block;
        text-decoration: line-through; }
      .b07 .product .product-price .new {
        color: #000;
        float: right;
        font-size: 30px;
        font-weight: 700;
        display: inline-block; }
        .b07 .product .product-price .new i {
          font-size: 20px;
          font-weight: 600;
          font-style: normal; }
    .b07 .product .product-delivery {
      color: #3e3e3e;
      font-size: 15px;
      line-height: 20px;
      padding-left: 30px;
      margin-right: -15px;
      margin-bottom: 20px;
      background: url("../img/product__icon_auto.png") 0 50% no-repeat; }
      .b07 .product .product-delivery strong {
        font-weight: 600; }
    .b07 .product .btn-block li:first-child {
      float: left;
      width: 100px; }
    .b07 .product .btn-block li:last-child {
      float: right;
      width: 150px; }
    .b07 .product .btn-block li .btn {
      width: 100%; }
  .b07 .delivery-block {
    padding-top: 30px; }
    .b07 .delivery-block li {
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      padding-top: 80px;
      margin-bottom: 30px; }
      .b07 .delivery-block li.item1 {
        background: url("../img/b07__icon1.png") 50% 0 no-repeat; }
      .b07 .delivery-block li.item2 {
        background: url("../img/b07__icon2.png") 50% 0 no-repeat; }
      .b07 .delivery-block li.item3 {
        background: url("../img/b07__icon3.png") 50% 0 no-repeat; }
      .b07 .delivery-block li.item4 {
        background: url("../img/b07__icon4.png") 50% 0 no-repeat; }
  @media (min-width: 768px) {
    .b07 .showcase > li {
      width: 50%;
      float: left;
      padding: 10px 0; }
    .b07 .delivery-block li {
      width: 50%;
      float: left; } }
  @media (min-width: 1024px) {
    .b07 .showcase > li {
      width: 33.33%; }
    .b07 .text span {
      display: block; }
    .b07 .delivery-block li {
      width: 25%; } }

.b08 {
  padding-top: 35px;
  padding-bottom: 40px;
  background: #fff; }
  .b08 .title {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 40px; }
  .b08 .text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px; }
  .b08 .step {
    margin-bottom: 50px; }
    .b08 .step li {
      color: #565656;
      font-size: 14px;
      line-height: 26px;
      position: relative;
      padding-left: 28px;
      margin-bottom: 20px; }
      .b08 .step li:last-child {
        margin-bottom: 0; }
      .b08 .step li span {
        top: 0;
        left: 0;
        color: #f68636;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 24px;
        position: absolute; }
  .b08 .box {
    padding: 15px;
    margin: 0 -10px;
    border: 10px solid #fef3eb; }
  @media (min-width: 768px) {
    .b08 .title {
      font-size: 33px;
      line-height: 42px; } }
  @media (min-width: 1024px) {
    .b08 .content {
      margin-left: -5px; }
    .b08 .step li {
      margin-right: -20px; } }

.b09 {
  color: #909090;
  padding-top: 70px;
  padding-bottom: 39px;
  background: url("../img/b09__bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  .b09 h2 {
    margin-bottom: 25px; }
  .b09 p {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px; }
    .b09 p.color-orange {
      font-weight: 400; }
  @media (min-width: 768px) {
    .b09 {
      background-size: auto auto; } }

.b10 {
  background: #fff;
  padding-top: 45px;
  padding-bottom: 45px; }
  .b10 .promo li {
    height: 175px;
    color: #565656;
    font-size: 14px;
    padding-top: 105px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 35px; }
    .b10 .promo li.item1 {
      background: url("../img/b10__item1.png") 50% 0 no-repeat; }
    .b10 .promo li.item2 {
      background: url("../img/b10__item2.png") 50% 0 no-repeat; }
    .b10 .promo li.item3 {
      background: url("../img/b10__item3.png") 50% 0 no-repeat; }
    .b10 .promo li.item4 {
      background: url("../img/b10__item4.png") 50% 0 no-repeat; }
    .b10 .promo li.item5 {
      background: url("../img/b10__item5.png") 50% 0 no-repeat; }
    .b10 .promo li.item6 {
      background: url("../img/b10__item6.png") 50% 0 no-repeat; }
  @media (min-width: 768px) {
    .b10 .promo {
      margin: 0 -10px; }
      .b10 .promo li {
        width: 50%;
        float: left;
        padding-left: 10px;
        padding-right: 10px; } }
  @media (min-width: 1024px) {
    .b10 .promo li {
      width: 33.33%; } }

.b11 {
  padding-top: 60px;
  padding-bottom: 5px;
  background: #f7f7f7 url("../img/b11__bg.jpg") 50% 0 no-repeat; }
  .b11 h2 {
    margin-bottom: 25px; }
    .b11 h2 span {
      display: block; }
  .b11 .text {
    color: #909090;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 40px; }
  .b11 .production {
    margin: 0 auto;
    max-width: 470px; }
    .b11 .production img {
      margin-bottom: 15px; }
    .b11 .production span {
      color: #4a4a4a;
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: center;
      margin-bottom: 40px; }
  @media (min-width: 768px) {
    .b11 .text {
      font-size: 18px;
      line-height: 26px; }
    .b11 .production {
      max-width: inherit; } }

.b12 {
  padding-top: 55px;
  padding-bottom: 70px;
  background: #fff url("../img/b12__bg.jpg") 50% 0 no-repeat; }
  .b12 h2 {
    margin-bottom: 25px; }
    .b12 h2 strong {
      font-weight: 700;
      font-family: "Open Sans", Arial, sans-serif; }
  .b12 .text {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-bottom: 45px; }
    .b12 .text span {
      padding: 0 5px;
      display: inline-block; }
    .b12 .text .t1 {
      color: #4a4a4a; }
    .b12 .text .t2 {
      color: #838383;
      font-size: 20px;
      text-decoration: line-through; }
    .b12 .text .t3 {
      color: #f68636;
      font-weight: 700; }
  .b12 .action {
    margin: 0 auto;
    max-width: 440px;
    text-align: center;
    border: 10px solid #fdebdd;
    padding: 30px 25px 35px 25px; }
    .b12 .action .action-text {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px; }
      .b12 .action .action-text strong {
        font-weight: 700;
        color: #f68636; }
  @media (min-width: 768px) {
    .b12 .text {
      font-size: 35px;
      line-height: 44px; }
      .b12 .text .t2 {
        font-size: 25px; }
    .b12 .action .action-text {
      font-size: 18px;
      line-height: 30px; } }

.b13 {
  padding-top: 70px;
  padding-bottom: 15px;
  background: #fff; }
  .b13 h2 {
    margin-bottom: 110px; }
  .b13 .review li {
    margin-bottom: 50px; }
    .b13 .review li .review-text {
      width: 220px;
      padding-left: 20px; }
      .b13 .review li .review-text p {
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        position: relative; }
        .b13 .review li .review-text p:before {
          top: 0;
          left: -20px;
          content: '';
          width: 11px;
          height: 9px;
          position: absolute;
          background: url("../img/icon__quote_first.png") 0 0 no-repeat; }
        .b13 .review li .review-text p:after {
          right: 0;
          bottom: 0;
          content: '';
          width: 11px;
          height: 9px;
          position: absolute;
          background: url("../img/icon__quote_last.png") 0 0 no-repeat; }
      .b13 .review li .review-text .review-author {
        font-weight: 600;
        margin-bottom: 10px; }
      .b13 .review li .review-text a {
        color: #929292;
        text-decoration: underline; }
  @media (min-width: 768px) {
    .b13 {
      padding-bottom: 50px;
      background: #fff url("../img/b13__bg.jpg") 50% 20px no-repeat;
      background-size: auto auto; }
      .b13 .review li {
        width: 50%; }
        .b13 .review li:first-child {
          float: left; }
        .b13 .review li:last-child {
          float: right; }
          .b13 .review li:last-child .review-text {
            float: right; } }
  @media (min-width: 768px) {
    .b13 .review li:last-child .review-text {
      margin-right: 80px; } }

.b14 {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 80px; }
  .b14 h2 {
    margin-bottom: 30px; }
  .b14 .risk li {
    padding-top: 110px;
    text-align: center;
    margin-bottom: 30px; }
    .b14 .risk li.item1 {
      background: url("../img/b14__item1.png") 50% 0 no-repeat; }
    .b14 .risk li.item2 {
      background: url("../img/b14__item2.png") 50% 0 no-repeat; }
    .b14 .risk li.item3 {
      background: url("../img/b14__item3.png") 50% 0 no-repeat; }
    .b14 .risk li h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 15px; }
    .b14 .risk li span {
      font-size: 14px;
      line-height: 21px; }
  @media (min-width: 768px) {
    .b14 .risk {
      margin: 0 -15px; }
      .b14 .risk li {
        float: left;
        width: 33.33%;
        padding: 110px 15px 0 15px; } }

.b15 {
  padding-top: 45px;
  background: #f7f7f7; }
  .b15 h2 {
    margin-bottom: 70px; }
  .b15 .features {
    width: 100%;
    margin-bottom: 40px; }
    .b15 .features .features-image {
      overflow: hidden;
      max-width: 240px;
      margin: 0 auto 20px auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
    .b15 .features h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      margin-bottom: 10px; }
    .b15 .features p {
      font-size: 14px;
      line-height: 24px; }
    .b15 .features li {
      color: #2f2f2f;
      text-align: center; }
    .b15 .features.item2 {
      display: table; }
      .b15 .features.item2 h4 {
        color: #f68636; }
      .b15 .features.item2 li:first-child {
        display: table-footer-group; }
      .b15 .features.item2 li:last-child {
        display: table-header-group; }
    .b15 .features.item3 {
      padding-bottom: 20px; }
  .b15 .orange-box {
    color: #fff;
    font-size: 16px;
    max-width: 780px;
    font-weight: 400;
    line-height: 26px;
    background: #f68636;
    padding: 20px 20px;
    text-align: center;
    margin: 0 auto 65px auto; }
  @media (min-width: 768px) {
    .b15 .features {
      display: table;
      margin-bottom: 10px; }
      .b15 .features .features-image {
        margin-bottom: 0; }
      .b15 .features.item2 li {
        text-align: right; }
        .b15 .features.item2 li:first-child {
          width: auto;
          display: table-cell; }
        .b15 .features.item2 li:last-child {
          width: 280px;
          padding-right: 0;
          padding-left: 40px;
          display: table-cell; }
      .b15 .features.item3 {
        padding-bottom: 65px; }
      .b15 .features li {
        text-align: left;
        display: table-cell;
        vertical-align: middle; }
        .b15 .features li:first-child {
          width: 280px;
          padding-right: 40px; }
    .b15 .orange-box {
      padding: 20px 35px; } }
  @media (min-width: 1024px) {
    .b15 .features.item2 li:last-child {
      width: 400px;
      padding-right: 0;
      padding-left: 0; }
    .b15 .features li:first-child {
      width: 400px;
      padding-right: 0; }
    .b15 .orange-box {
      margin: 0 auto -45px auto; } }

.b16 {
  background: #fff;
  padding-top: 55px;
  padding-bottom: 10px; }
  .b16 h2 {
    margin-bottom: 45px; }
  .b16 .cert {
    font-size: 0;
    line-height: 0;
    margin: 0 -10px;
    text-align: center;
    vertical-align: top; }
    .b16 .cert .cert-name {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      text-align: center;
      margin-bottom: 10px; }
      .b16 .cert .cert-name > a {
        color: #2f2f2f; }
        .b16 .cert .cert-name > a:hover {
          color: #f68636; }
    .b16 .cert .cert-text {
      font-size: 13px;
      line-height: 20px;
      text-align: center; }
    .b16 .cert li {
      width: 160px;
      overflow: hidden;
      padding: 0 10px;
      margin-bottom: 30px;
      display: inline-block; }
      .b16 .cert li > a {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        display: inline-block;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25); }
        .b16 .cert li > a:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          z-index: 20;
          position: absolute;
          background: transparent;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .b16 .cert li > a:hover:before {
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          background: rgba(0, 0, 0, 0.55) url("../img/icon__plus.png") 50% 50% no-repeat; }
        .b16 .cert li > a img {
          display: inline-block;
          max-width: 100%;
          height: auto; }
  @media (min-width: 1024px) {
    .b16 {
      padding-top: 110px; } }

.b17 {
  padding-top: 40px;
  padding-bottom: 50px;
  background: url("../img/b17__bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  .b17.thankyou {
    background: #fff; }
  .b17 h2 {
    margin-bottom: 25px; }
  .b17 .text {
    max-width: 660px;
    color: #909090;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 20px auto; }
  .b17 .social {
    font-size: 0;
    line-height: 0;
    text-align: center; }
    .b17 .social li {
      padding: 0 12px;
      display: inline-block; }
      .b17 .social li a {
        width: 60px;
        height: 60px;
        outline: none;
        padding: 10px 0;
        font-size: 26px;
        line-height: 38px;
        text-align: center;
        color: #f68636;
        display: inline-block;
        background: transparent;
        border: 1px solid #f68636;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
        .b17 .social li a:hover {
          color: #fff;
          background: #f68636; }
  .b17 .pluso-010010100110-04 a.pluso-more {
    margin-right: 0 !important; }
  @media (min-width: 768px) {
    .b17 .text {
      font-size: 20px;
      line-height: 32px; } }
  @media (min-width: 1024px) {
    .b17 {
      background-size: auto auto; }
      .b17.thankyou {
        padding-bottom: 50px; }
        .b17.thankyou h2 {
          font-size: 35px; } }

.b18 {
  padding: 40px 0;
  background: #fff;
  text-align: center; }

.b19 {
  position: relative; }
  .b19 #map {
    height: 280px; }
  .b19 .map-content {
    border-top: 1px solid #ccc; }
  .b19 .contact {
    background: #fff;
    padding: 40px 20px; }
    .b19 .contact .contact-title {
      color: #4a4a4a;
      font-size: 28px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 10px; }
    .b19 .contact .contact-text {
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 10px; }
    .b19 .contact .tel-large {
      color: #4a4a4a;
      font-size: 21px;
      font-weight: 600;
      line-height: 24px;
      display: inline-block;
      text-decoration: none; }
    .b19 .contact .t1 {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 5px; }
    .b19 .contact .btn-callback {
      color: #f68636;
      font-size: 14px;
      line-height: 24px;
      text-decoration: underline; }
      .b19 .contact .btn-callback:hover {
        text-decoration: none; }
    .b19 .contact .subtitle {
      color: #4a4a4a;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      padding-top: 30px;
      margin-bottom: 10px; }
    .b19 .contact ul li {
      color: #4a4a4a;
      padding: 8px 0;
      font-size: 14px;
      line-height: 18px;
      border-bottom: 1px solid #d7d7d7; }
      .b19 .contact ul li:last-child {
        padding-bottom: 0;
        border-bottom-color: transparent; }
      .b19 .contact ul li p {
        margin-bottom: 6px; }
  @media (min-width: 768px) {
    .b19 #map {
      height: 570px; } }
  @media (min-width: 1024px) {
    .b19 .map-content {
      top: 0;
      left: 0;
      right: 0;
      z-index: 50;
      position: absolute;
      border-top: none; }
    .b19 .contact {
      top: 30px;
      left: 0;
      padding: 30px 25px;
      position: absolute;
      width: 400px; } }

.ymaps-2-1-42-ground-pane {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */ }

/*# sourceMappingURL=main.css.map */
