* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}

// Body reset

html,
body {

}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-weight: 300;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h2 {
	color: #2f2f2f;
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
	margin-bottom: 10px;
	font-family: $font-head;

	@media (min-width: $screen-sm-min) {
		font-size: 33px;
		line-height: 48px;
	}
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.color-orange {
	color: $color-orange;
}

.heading-line {
	margin: 0 auto;
	max-width: 450px;
	border-bottom: 1px solid #f6be96;
}

#tooltip {
	z-index: 9999;
	padding: 22px;
	font-size: 16px;
	line-height: 22px;
	min-width: 250px;
	max-width: 400px;
	background: #fff;
	position: absolute;
	@include box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.23));
}


.form-block {
	padding: 25px 25px;
	background: #fff;
	max-width: 400px;

	.form-title {
		color: #2f2f2f;
		font-size: 26px;
		line-height: 32px;
		text-align: center;
		margin: 0 -15px 10px -15px;
		font-family: $font-head;
	}

	.form-worktime {
		color: #7e7e7e;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		margin: 0 -15px 40px -15px;
	}

	.form-content {
		max-width: 336px;
		margin: 0 auto;
		padding-bottom: 5px;
	}

	.order-step {
		padding:0;
		list-style:none;
		counter-reset:li;
		margin: 0 0 20px 0;

		li {
			color: #2f2f2f;
			font-size: 18px;
			line-height: 24px;
			padding-left: 24px;
			margin-bottom: 30px;
			position: relative;

			&:last-child {
				margin-bottom: 0;

				&:after {
					display: none;
				}
			}

			&:before {
				top: 50%;
				left: 0;
				color: #fff;
				width: 8px;
				height: 8px;
				text-align: center;
				position: absolute;
				content: '';
				margin-top: -4px;
				counter-increment:li;
				background: $color-orange;
				@include border-radius(50%);
			}
		}
	}

	.form-text {
		color: #7e7e7e;
		font-size: 14px;
		line-height: 20px;
		padding-top: 28px;
		text-align: center;

	}

	@media (min-width: $screen-sm-min) {
		width: 580px;
		padding: 35px 35px;
		max-width: inherit;

		&.form-sm {
			width: 580px;
		}

		.form-title {
			font-size: 36px;
			line-height: 42px;
		}

		.form-worktime {
			font-size: 16px;
		}

		.form-text {
			font-size: 16px;
			line-height: 24px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 800px;
		padding: 25px 50px 40px 50px;

		&.form-sm {
			padding: 40px 40px;
			width: 580px;

			.form-content {
				margin: 0 auto;
				max-width: 336px;
			}
		}

		&.form-partners {
			padding: 14px;
		}


		.form-content {
			margin-left: -15px;
			padding: 0 25px;
			max-width: inherit;
		}

		.form-title {
			font-size: 42px;
			line-height: 54px;

			&.form-title-sm {
				font-size: 36px;
				line-height: 42px;
				margin: 0 -30px 40px -30px;
			}
		}
	}
}

.btn-close {
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
	position: absolute;
	background: url("../img/icon__close.png") 0 0 no-repeat;

	@media (min-width: $screen-md-min) {
		top: 15px;
		right: 15px;
	}
}


.modal-content {
	max-width: 960px;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 25px 20px;

	h3 {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 20px;
	}

	li {
		margin-bottom: 15px;
	}

	@media (min-width: $screen-sm-min) {

		font-size: 20px;
		line-height: 30px;
		padding: 30px 35px;
	}
}


.m_title {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 5px;
	font-family: $font-base;
}

.m_t1 {
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-family: $font-base;
	border-bottom: 1px solid #ccc;
}

.m_t2 {
	font-size: 14px;
	line-height: 18px;
	font-family: $font-base;
}
