.b11 {
	padding-top: 60px;
	padding-bottom: 5px;
	background: #f7f7f7 url("../img/b11__bg.jpg") 50% 0 no-repeat;

	h2 {
		margin-bottom: 25px;

		span {
			display: block;
		}
	}

	.text {
		color: #909090;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		margin-bottom: 40px;
	}

	.production {
		margin: 0 auto;
		max-width: 470px;

		img {
			margin-bottom: 15px;
		}

		span {
			color: #4a4a4a;
			display: block;
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			text-align: center;
			margin-bottom: 40px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.text {
			font-size: 18px;
			line-height: 26px;
		}

		.production {
			max-width: inherit;
		}
	}
}