.b07 {
	padding-top: 70px;
	background: #f7f7f7;
	padding-bottom: 70px;

	.text {
		font-size: 16px;
		max-width: 760px;
		line-height: 30px;
		text-align: center;
		margin: 0 auto 65px auto;

		strong {
			color: $color-orange;
		}
	}

	.heading-line {
		margin-bottom: 15px;
	}

	.showcase {

		> li {
			margin-bottom: 50px;
		}
	}

	.product {
		width: 300px;
		margin: 0 auto;
		background: #fff;
		position: relative;
		padding-bottom: 16px;
		border: 2px solid #fff;

		.product-name {
			top: 15px;
			left: 18px;
			z-index: 40;
			color: #fff;
			position: absolute;

			h4 {
				color: #fff;
				font-size: 20px;
				font-weight: 600;
				line-height: 24px;
			}
		}

		.testdrive {
			top: -11px;
			right: -9px;
			z-index: 50;
			width: 98px;
			height: 51px;
			position: absolute;
			display: inline-block;
			background: url("../img/b07__testdrive.png") 0 0 no-repeat;

			&:before {
				top: 60px;
				left: 50%;
				width: 27px;
				height: 10px;
				content: '';
				display: none;
				margin-left: -13px;
				position: absolute;
				@include transition(.4s);
				background: url("../img/tooltip__arrow.png") 0 0 no-repeat;
			}

			&:hover {

				&:before {
					display: block;
				}
			}
		}

		.product-gallery {
			position: relative;
			margin-bottom: 20px;

			.image-big {
				margin-bottom: 7px;
				position: relative;

				.image-big-item {
					display: none;
					overflow: hidden;

					&.img1 {
						display: block;
					}

					a {
						display: block;
						position: relative;

						&:before {
							top: 50%;
							left: 50%;
							z-index: 10;
							content: '';
							width: 54px;
							height: 54px;
							margin-top: -27px;
							margin-left: -27px;
							position: absolute;
							background: url("../img/product__hover.png") 0 0 no-repeat;
						}

						img {
							@include transition(.5s ease-out);
						}

						&:hover {

							img {
								-webkit-transform: scale(1.2);
								-moz-transform: scale(1.2);
								-o-transform: scale(1.2);
								transform: scale(1.2);
								@include transition(.5s ease-out);
							}

							&:before {
								background-position: 0 -54px;
							}
						}
					}
				}
			}


			.product-thumbs {

				li {
					float: left;
					width: 64px;
					cursor: pointer;
					margin-left: 13px;
					position: relative;

					&:first-child {
						margin-left: 0;
					}

					&:before {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						content: '';
						position: absolute;
					}

					&:hover {
						&:before {
							border-bottom: 3px solid $color-orange;
						}
					}

					&.active {

						&:before {
							border: 3px solid #ededed;
						}
					}
				}
			}
		}

		.product-content {
			padding: 0 17px;
		}

		.product-text {
			height: 180px;
			color: #727272;
			font-size: 14px;
			overflow: hidden;
			line-height: 20px;
			margin-bottom: 20px;
		}

		.product-price {
			overflow: hidden;
			line-height: 30px;
			background: #f7f8f9;
			margin-bottom: 20px;
			padding: 18px 25px 18px 30px;


			.old {
				float: left;
				color: #7e7e7e;
				font-size: 18px;
				display: inline-block;
				text-decoration: line-through;
			}

			.new {
				color: #000;
				float: right;
				font-size: 30px;
				font-weight: 700;
				display: inline-block;

				i {
					font-size: 20px;
					font-weight: 600;
					font-style: normal;
				}
			}
		}

		.product-delivery {
			color: #3e3e3e;
			font-size: 15px;
			line-height: 20px;
			padding-left: 30px;
			margin-right: -15px;
			margin-bottom: 20px;
			background: url("../img/product__icon_auto.png") 0 50% no-repeat;

			strong {
				font-weight: 600;
			}
		}

		.btn-block {

			li {

				&:first-child {
					float: left;
					width: 100px;
				}

				&:last-child {
					float: right;
					width: 150px;
				}

				.btn {
					width: 100%;
				}
			}
		}
	}

	.delivery-block {
		padding-top: 30px;

		li {
			font-size: 14px;
			line-height: 23px;
			text-align: center;
			padding-top: 80px;
			margin-bottom: 30px;

			&.item1 {
				background: url("../img/b07__icon1.png") 50% 0 no-repeat;
			}

			&.item2 {
				background: url("../img/b07__icon2.png") 50% 0 no-repeat;
			}

			&.item3 {
				background: url("../img/b07__icon3.png") 50% 0 no-repeat;
			}

			&.item4 {
				background: url("../img/b07__icon4.png") 50% 0 no-repeat;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.showcase {

			> li {
				width: 50%;
				float: left;
				padding: 10px 0;
			}
		}

		.delivery-block {

			li {
				width: 50%;
				float: left;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.showcase {

			> li {
				width: 33.33%;
			}
		}

		.text {

			span {
				display: block;
			}
		}

		.delivery-block {

			li {
				width: 25%;
			}

		}
	}
}
