.b13 {
	padding-top: 70px;
	padding-bottom: 15px;
	background: #fff;

	h2 {
		margin-bottom: 110px;
	}


	.review {

		li {
			margin-bottom: 50px;

			.review-text {
				width: 220px;
				padding-left: 20px;

				p {
					font-size: 14px;
					line-height: 21px;
					padding-bottom: 5px;
					margin-bottom: 10px;
					position: relative;

					&:before {
						top: 0;
						left: -20px;
						content: '';
						width: 11px;
						height: 9px;
						position: absolute;
						background: url("../img/icon__quote_first.png") 0 0 no-repeat;
					}


					&:after {
						right: 0;
						bottom: 0;
						content: '';
						width: 11px;
						height: 9px;
						position: absolute;
						background: url("../img/icon__quote_last.png") 0 0 no-repeat;
					}
				}

				.review-author {
					font-weight: 600;
					margin-bottom: 10px;
				}

				a {
					color: #929292;
					text-decoration: underline;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 50px;
		background: #fff url("../img/b13__bg.jpg") 50% 20px no-repeat;
		background-size: auto auto;

		.review {

			li {
				width: 50%;

				&:first-child {
					float: left;
				}

				&:last-child {
					float: right;

					.review-text {
						float: right;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.review {

			li {
				&:last-child {

					.review-text {
						margin-right: 80px;
					}
				}
			}
		}
	}
}