.b16 {
	background: #fff;
	padding-top: 55px;
	padding-bottom: 10px;

	h2 {
		margin-bottom: 45px;
	}

	.cert {
		font-size: 0;
		line-height: 0;
		margin: 0 -10px;
		text-align: center;
		vertical-align: top;

		.cert-name {
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
			text-align: center;
			margin-bottom: 10px;

			> a {
				color: #2f2f2f;

				&:hover {
					color: $color-orange;
				}
			}
		}

		.cert-text {
			font-size: 13px;
			line-height: 20px;
			text-align: center;
		}

		li {
			width: 160px;
			overflow: hidden;
			padding: 0 10px;
			margin-bottom: 30px;
			display: inline-block;

			> a {
				width: 100%;
				position: relative;
				margin-bottom: 10px;
				display: inline-block;
				@include box-shadow(0px 0px 3px 0px rgba(0, 0, 0, 0.25));

				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					z-index: 20;
					position: absolute;
					background: rgba(0,0,0, 0);
					@include transition(.3s);
				}

				&:hover {
					&:before {
						@include transition(.3s);
						background: rgba(0,0,0, 0.55) url("../img/icon__plus.png") 50% 50% no-repeat;
					}
				}

				img {
					@include img-responsive(inline-block);
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 110px;
	}
}
