.b17 {
	padding-top: 40px;
	padding-bottom: 50px;
	background: url("../img/b17__bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	&.thankyou {
		background: #fff;
	}

	h2 {
		margin-bottom: 25px;
	}


	.text {
		max-width: 660px;
		color: #909090;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		margin: 0 auto 20px auto;
	}

	.social {
		font-size: 0;
		line-height: 0;
		text-align: center;

		li {
			padding: 0 12px;
			display: inline-block;

			a {
				width: 60px;
				height: 60px;
				outline: none;
				padding: 10px 0;
				font-size: 26px;
				line-height: 38px;
				text-align: center;
				color: $color-orange;
				display: inline-block;
				background: transparent;
				border: 1px solid $color-orange;
				@include border-radius(50%);

				&:hover {
					color: #fff;
					background: $color-orange;
				}
			}
		}
	}

	.pluso-010010100110-04 a.pluso-more {
		margin-right: 0 !important;
	}

	@media (min-width: $screen-sm-min) {

		.text {
			font-size: 20px;
			line-height: 32px;
		}
	}

	@media (min-width: $screen-md-min) {
		background-size: auto auto;

		&.thankyou {
			padding-bottom: 50px;

			h2 {
				font-size: 35px;
			}
		}
	}
}