.b03 {
	padding-top: 70px;
	padding-bottom: 95px;
	background: #f7f7f7 url("../img/b03__bg.jpg") 50% 0 no-repeat;

	.heading-line {
		margin-bottom: 15px;
	}

	.text {
		max-width: 860px;
		text-align: center;
		margin: 0 auto 40px auto;
	}

	.content-image {

		position: relative;

		&:before {
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			content: '';
			position: absolute;
			border: 1px solid #fff;
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 18px;
		line-height: 26px;
	}
}
