.b10 {
	background: #fff;
	padding-top: 45px;
	padding-bottom: 45px;

	.promo {

		li {
			height: 175px;
			color: #565656;
			font-size: 14px;
			padding-top: 105px;
			line-height: 26px;
			text-align: center;
			margin-bottom: 35px;

			&.item1 {
				background: url("../img/b10__item1.png") 50% 0 no-repeat;
			}
			&.item2 {
				background: url("../img/b10__item2.png") 50% 0 no-repeat;
			}
			&.item3 {
				background: url("../img/b10__item3.png") 50% 0 no-repeat;
			}
			&.item4 {
				background: url("../img/b10__item4.png") 50% 0 no-repeat;
			}
			&.item5 {
				background: url("../img/b10__item5.png") 50% 0 no-repeat;
			}
			&.item6 {
				background: url("../img/b10__item6.png") 50% 0 no-repeat;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.promo {
			margin: 0 -10px;

			li {
				width: 50%;
				float: left;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.promo {

			li {
				width: 33.33%;
			}
		}
	}
}
