.b05 {
	padding-top: 60px;
	background: #f7f7f7;
	padding-bottom: 60px;

	.heading-line {
		max-width: 700px;
		margin-bottom: 15px;
	}

	.text {
		margin: 0 auto;
		max-width: 840px;
		text-align: center;

		&.text-one {
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 25px;
		}

		&.text-two {
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
			margin-bottom: 55px;
		}
	}


	.detail-image {
		margin: 0 auto;
		max-width: 535px;
	}

	.detail {
		margin: 0 auto;
		max-width: 480px;

		li {
			min-height: 200px;
			position: relative;
			margin-bottom: 25px;
			padding: 20px 0 20px 135px;
			background: url("../img/b05__item_bg.png") 50% 0 repeat-y;

			&:before {
				left: 0;
				top: 50px;
				content: '';
				width: 121px;
				height: 121px;
				position: absolute;
			}

			&.item1 {
				&:before {
					background: url("../img/b05__item1.png") 0 0 no-repeat;
				}
			}

			&.item2 {
				&:before {
					background: url("../img/b05__item2.png") 0 0 no-repeat;
				}
			}

			&.item3 {
				&:before {
					background: url("../img/b05__item3.png") 0 0 no-repeat;
				}
			}

			&.item4 {
				&:before {
					background: url("../img/b05__item4.png") 0 0 no-repeat;
				}
			}

			h4 {
				color: #f68636;
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
				margin-bottom: 15px;
			}

			p {
				color: #000;
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
				margin-bottom: 0;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.detail {
			width: 100%;
			display: table;
			max-width: inherit;
			margin-bottom: 15px;

			li {
				margin-bottom: 0;
				display: table-cell;
				vertical-align: top;

				&.item1 {
					width: 395px;
					padding-right: 10px;
				}

				&.item3  {
					width: 370px;
					padding-right: 10px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.detail-image {
			margin: 0 0 0 290px;
		}

		.detail {

			h4 {
				margin-bottom: 20px;
			}

			li {
				padding-top: 25px;
				padding-bottom: 35px;

				&.item1 {
					width: 505px;

					&:after {
						top: 185px;
						left: 65px;
						content: '';
						width: 217px;
						height: 132px;
						position: absolute;
						background: url("../img/b05__line1.png") 0 0 no-repeat;
					}
				}

				&.item2 {

					&:after {
						top: 175px;
						left: 10px;
						content: '';
						width: 30px;
						height: 71px;
						position: absolute;
						background: url("../img/b05__line2.png") 0 0 no-repeat;
					}
				}

				&.item3 {
					width: 490px;

					&:after {
						top: -54px;
						left: 72px;
						content: '';
						width: 294px;
						height: 96px;
						position: absolute;
						background: url("../img/b05__line3.png") 0 0 no-repeat;
					}
				}

				&.item4 {

					&:after {
						top: -50px;
						left: 60px;
						content: '';
						width: 2px;
						height: 94px;
						position: absolute;
						background: url("../img/b05__line4.png") 0 0 no-repeat;
					}
				}
			}
		}
	}
}
