.b01 {
    padding-top: 15px;
    padding-bottom: 50px;
    background: url("../img/b01_bg.jpg") 50% 0 no-repeat;
    background-size: cover;

    .top {
        text-align: center;
        margin-bottom: 50px;

        .top-logo {
            width: 170px;
            margin: 0 auto 15px auto;
        }

        .top-text {
            color: #2f2f2f;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            margin-bottom: 15px;
        }

        .top-contact {
            text-align: center;

            li {
                color: #2f2f2f;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;

                strong {
                    font-weight: 600;
                }

                a {
                    color: #222;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 21px;
                    text-decoration: none;
                }
            }
        }
    }

    .content {

    }

    h1 {
        color: #2f2f2f;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 20px;
        font-family: $font-head;

        .color-orange {
            display: block;
        }
    }

    .text {
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 30px;
    }

    .advantage {
        padding-top: 65px;
        text-align: center;
        margin-bottom: 30px;
        position: relative;

        &:before {
            top: 0;
            left: 50%;
            content: '';
            width: 56px;
            height: 56px;
            margin-left: -28px;
            position: absolute;
        }

        &.item1 {

            &:before {
                background: url("../img/b01__item1.png") 50% 0 no-repeat;
                background-size: cover;
            }
        }

        &.item2 {
            &:before {
                background: url("../img/b01__item2.png") 50% 0 no-repeat;
                background-size: cover;
            }
        }

        &.item3 {
            &:before {
                background: url("../img/b01__item3.png") 50% 0 no-repeat;
                background-size: cover;
            }
        }

        h4 {
            color: #2f2f2f;
            font-size: 16px;
            font-weight: 700;
            line-height: 21px;
            margin-bottom: 5px;
        }

        p {
            color: #1e1e1e;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            margin-bottom: 0;
        }
    }

    .text-center {
        font-size: 14px;
        line-height: 18px;
    }

    .worktime {
        color: #1e1e1e;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
        margin-bottom: 50px;

        strong {
            font-weight: 600;
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-bottom: 40px;
        background-position: 75% 0;
        background-size: auto auto;

        .top {
            width: 100%;
            display: table;
            height: 70px;
            margin-bottom: 60px;

            .top-logo {
                margin: 0;
                display: table-cell;
                vertical-align: top;
            }

            .top-text {
                padding: 0 50px;
                display: table-cell;
                vertical-align: middle;
            }

            .top-contact {
                width: 195px;
                padding-top: 5px;
                text-align: right;
                display: table-cell;
                vertical-align: top;
            }
        }

        h1 {
            font-size: 40px;
            line-height: 45px;

            span {
                display: block;
            }
        }

        .text {
            margin-bottom: 50px;
        }
    }

    @media (min-width: $screen-md-min) {
        background-position: 50% 0;

        &.thankyou {
            height: auto;

            h1 {
                font-size: 52px;
                line-height: 64px;
            }
        }


        .advantage {
            margin-bottom: 50px;

            h4 {
                span {
                    display: block;
                }
            }
        }
    }
}

