.b02 {
	background: #fff;
	padding-top: 70px;
	padding-bottom: 60px;

	h2 {
		margin-bottom: 40px;
	}

	.indication {

		li {
			font-size: 14px;
			line-height: 20px;
			padding-left: 35px;
			position: relative;
			margin-bottom: 30px;

			&:before {
				top: 0;
				left: 0;
				color: #fff;
				width: 20px;
				height: 20px;
				padding: 5px 0;
				text-align: center;
				content: "\f00c";
				position: absolute;
				background: #cccccc;
				display: inline-block;
				@include border-radius(50%);
				font: normal normal normal 10px/1 FontAwesome;
			}

		}
	}

	@media (min-width: $screen-sm-min) {

		.indication {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}