.b09 {
	color: #909090;
	padding-top: 70px;
	padding-bottom: 39px;
	background: url("../img/b09__bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	h2 {
		margin-bottom: 25px;
	}

	p {
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		margin-bottom: 30px;

		&.color-orange {
			font-weight: 400;
		}
	}

	@media (min-width: $screen-sm-min) {
		background-size: auto auto;
	}
}
