.b19 {
	position: relative;

	#map {
		height: 280px;
	}

	.map-content {
		border-top: 1px solid #ccc;
	}

	.contact {
		background: #fff;
		padding: 40px 20px;

		.contact-title {
			color: #4a4a4a;
			font-size: 28px;
			font-weight: 600;
			line-height: 30px;
			margin-bottom: 10px;
		}

		.contact-text {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 10px;
		}

		.tel-large {
			color: #4a4a4a;
			font-size: 21px;
			font-weight: 600;
			line-height: 24px;
			display: inline-block;
			text-decoration: none;
		}

		.t1 {
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 5px;
		}

		.btn-callback {
			color: #f68636;
			font-size: 14px;
			line-height: 24px;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		.subtitle {
			color: #4a4a4a;
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
			padding-top: 30px;
			margin-bottom: 10px;
		}

		ul {

			li {
				color: #4a4a4a;
				padding: 8px 0;
				font-size: 14px;
				line-height: 18px;
				border-bottom: 1px solid #d7d7d7;

				&:last-child {
					padding-bottom: 0;
					border-bottom-color: transparent;
				}

				p {
					margin-bottom: 6px;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {


		#map {
			height: 570px;
		}
	}

	@media (min-width: $screen-md-min) {

		.map-content {
			top: 0;
			left: 0;
			right: 0;
			z-index: 50;
			position: absolute;
			border-top: none;
		}

		.contact {
			top: 30px;
			left: 0;
			padding: 30px 25px;
			position: absolute;
			width: 400px;
		}
	}
}

.ymaps-2-1-42-ground-pane {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}