.b06 {
	background: #fff;
	padding-top: 85px;
	padding-bottom: 55px;

	h2 {
		margin-bottom: 30px;
	}

	.text {
		margin-bottom: 60px;

		li {
			padding: 15px 0;
			font-size: 16px;
			line-height: 26px;

			&:first-child {
				color: #777;
				border-bottom: 5px solid $color-orange;
			}

			&:last-child {
				color: #2f2f2f;
			}
		}
	}


	.help {
		width: 285px;
		display: table;
		position: relative;
		margin: 0 auto 30px auto;

		.help-inner {
			height: 126px;
			color: #4a4a4a;
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			padding-left: 140px;
			display: table-cell;
			vertical-align: middle;
		}

		&:before {
			left: 0;
			top: 0;
			content: '';
			width: 126px;
			height: 126px;
			position: absolute;
			border: 5px solid #f7f8f9;
			@include border-radius(50%);
		}

		&.item1 {
			&:before {
				background: url("../img/b06__item01.jpg") 50% 50% no-repeat;
			}
		}
		&.item2 {
			&:before {
				background: url("../img/b06__item02.jpg") 50% 50% no-repeat;
			}
		}
		&.item3 {
			&:before {
				background: url("../img/b06__item03.jpg") 50% 50% no-repeat;
			}
		}
		&.item4 {
			&:before {
				background: url("../img/b06__item04.jpg") 50% 50% no-repeat;
			}
		}
		&.item5 {
			&:before {
				background: url("../img/b06__item05.jpg") 50% 50% no-repeat;
			}
		}
		&.item6 {
			&:before {
				background: url("../img/b06__item06.jpg") 50% 50% no-repeat;
			}
		}
		&.item7 {
			&:before {
				background: url("../img/b06__item07.jpg") 50% 50% no-repeat;
			}
		}
		&.item8 {
			&:before {
				background: url("../img/b06__item08.jpg") 50% 50% no-repeat;
			}
		}
		&.item9 {
			&:before {
				background: url("../img/b06__item09.jpg") 50% 50% no-repeat;
			}
		}
		&.item10 {
			&:before {
				background: url("../img/b06__item10.jpg") 50% 50% no-repeat;
			}
		}
		&.item11 {
			&:before {
				background: url("../img/b06__item11.jpg") 50% 50% no-repeat;
			}
		}
		&.item12 {
			&:before {
				background: url("../img/b06__item12.jpg") 50% 50% no-repeat;
			}
		}
		&.item13 {
			&:before {
				background: url("../img/b06__item13.jpg") 50% 50% no-repeat;
			}
		}
		&.item14 {
			&:before {
				background: url("../img/b06__item14.jpg") 50% 50% no-repeat;
			}
		}
		&.item15 {
			&:before {
				background: url("../img/b06__item15.jpg") 50% 50% no-repeat;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		h2 {
			span {
				display: block;
			}
		}

		.text {
			width: 100%;
			display: table;
			margin-bottom: 75px;

			li {
				width: 50%;
				padding: 0;
				display: table-cell;
				vertical-align: top;

				&:first-child {
					text-align: right;
					padding-right: 25px;
					border-right: 2px solid $color-orange;
					border-bottom: none;
				}

				&:last-child {
					text-align: left;
					padding-left: 25px;
					border-left: 3px solid $color-orange;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.text {

			li {
				font-size: 18px;
				line-height: 26px;

				&:first-child {
					padding-left: 15px;
				}
			}
		}
	}
}

