.b15 {
	padding-top: 45px;
	background: #f7f7f7;

	h2 {
		margin-bottom: 70px;
	}

	.features {
		width: 100%;
		margin-bottom: 40px;

		.features-image {
			overflow: hidden;
			max-width: 240px;
			margin: 0 auto 20px auto;
			@include border-radius(50%);
			@include box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.1));
		}

		h4 {
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			margin-bottom: 10px;
		}

		p {
			font-size: 14px;
			line-height: 24px;
		}

		li {
			color: #2f2f2f;
			text-align: center;
		}

		&.item2 {
			display: table;

			h4 {
				color: $color-orange;
			}

			li {

				&:first-child {
					display: table-footer-group;
				}

				&:last-child {
					display: table-header-group;
				}
			}
		}

		&.item3 {
			padding-bottom: 20px;
		}
	}


	.orange-box {
		color: #fff;
		font-size: 16px;
		max-width: 780px;
		font-weight: 400;
		line-height: 26px;
		background: #f68636;
		padding: 20px 20px;
		text-align: center;
		margin: 0 auto 65px auto;
	}

	@media (min-width: $screen-sm-min) {

		.features {
			display: table;
			margin-bottom: 10px;

			.features-image {
				margin-bottom: 0;
			}

			&.item2 {

				li {
					text-align: right;

					&:first-child {
						width: auto;
						display: table-cell;
					}

					&:last-child {
						width: 280px;
						padding-right: 0;
						padding-left: 40px;
						display: table-cell;
					}
				}
			}

			&.item3 {
				padding-bottom: 65px;
			}

			li {
				text-align: left;
				display: table-cell;
				vertical-align: middle;

				&:first-child {
					width: 280px;
					padding-right: 40px;
				}
			}
		}

		.orange-box {
			padding: 20px 35px;
		}
	}


	@media (min-width: $screen-md-min) {

		.features {

			&.item2 {

				li {
					&:last-child {
						width: 400px;
						padding-right: 0;
						padding-left: 0;
					}
				}
			}

			li {

				&:first-child {
					width: 400px;
					padding-right: 0;
				}
			}
		}

		.orange-box {
			margin: 0 auto -45px auto;
		}
	}
}