.b14 {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 80px;

	h2 {
		margin-bottom: 30px;
	}

	.risk {

		li {
			padding-top: 110px;
			text-align: center;
			margin-bottom: 30px;

			&.item1 {
				background: url("../img/b14__item1.png") 50% 0  no-repeat;
			}

			&.item2 {
				background: url("../img/b14__item2.png") 50% 0  no-repeat;
			}

			&.item3 {
				background: url("../img/b14__item3.png") 50% 0  no-repeat;
			}

			h4 {
				font-size: 16px;
				font-weight: 600;
				line-height: 26px;
				margin-bottom: 15px;
			}

			span {
				font-size: 14px;
				line-height: 21px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.risk {
			margin: 0 -15px;

			li {
				float: left;
				width: 33.33%;
				padding: 110px 15px 0 15px;
			}
		}
	}
}
