.b08 {
	padding-top: 35px;
	padding-bottom: 40px;
	background: #fff;

	.title {
		color: #4a4a4a;
		font-size: 24px;
		font-weight: 300;
		line-height: 28px;
		margin-bottom: 40px;
	}

	.text {
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 40px;
	}

	.step {
		margin-bottom: 50px;

		li {
			color: #565656;
			font-size: 14px;
			line-height: 26px;
			position: relative;
			padding-left: 28px;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			span {
				top: 0;
				left: 0;
				color: #f68636;
				font-size: 16px;
				font-weight: 600;
				letter-spacing: 2px;
				line-height: 24px;
				position: absolute;
			}
		}
	}

	.box {
		padding: 15px;
		margin: 0 -10px;
		border: 10px solid #fef3eb;
	}

	@media (min-width: $screen-sm-min) {

		.title {
			font-size: 33px;
			line-height: 42px;
		}
	}

	@media (min-width: $screen-md-min) {

		.content {
			margin-left: -5px;
		}

		.step {

			li {
				margin-right: -20px;
			}
		}
	}
}