.b04 {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 60px;

	h2 {
		margin-bottom: 30px;
	}

	.advantage {
		text-align: center;
		margin-bottom: 40px;

		.advantage-img {
			width: 166px;
			height: 166px;
			overflow: hidden;
			margin: 0 auto 10px auto;
			border: 5px solid #f7f8f9;
			@include border-radius(50%);
		}

		h4 {
			color: #2f2f2f;
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 10px;
		}

		p {
			color: #2f2f2f;
			font-size: 14px;
			line-height: 1.3;
			margin-bottom: 0;
		}
	}

	.text-box {
		color: #646464;
		margin: 0 auto;
		max-width: 680px;
		font-size: 16px;
		line-height: 25px;
		padding: 7px 20px;
		text-align: center;
		background: #f6f6f6;
		position: relative;

		&:before {
			top: -10px;
			left: -10px;
			color: #f68636;
			content: "\f10d";
			text-align: center;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
			font: normal normal normal 21px/1 FontAwesome;
		}
	}


	@media (min-width: $screen-sm-min) {

		h2 {

			span {
				display: block;
			}
		}

		.text-box {
			padding: 7px 55px;

			span {
				display: block;
			}
		}
	}

	@media (min-width: $screen-md-min) {



		.advantage {

			h4 {
				span {
					display: block;
				}
			}
		}

		.text-box {

		}
	}
}