.b12 {
	padding-top: 55px;
	padding-bottom: 70px;
	background: #fff url("../img/b12__bg.jpg") 50% 0 no-repeat;

	h2 {
		margin-bottom: 25px;

		strong {
			font-weight: 700;
			font-family: $font-base;
		}
	}

	.text {
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		text-align: center;
		margin-bottom: 45px;

		span {
			padding: 0 5px;
			display: inline-block;
		}

		.t1 {
			color: #4a4a4a;
		}

		.t2 {
			color: #838383;
			font-size: 20px;
			text-decoration: line-through;
		}

		.t3 {
			color: #f68636;
			font-weight: 700;
		}
	}

	.action {
		margin: 0 auto;
		max-width: 440px;
		text-align: center;
		border: 10px solid #fdebdd;
		padding: 30px 25px 35px 25px;

		.action-text {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 20px;

			strong {
				font-weight: 700;
				color: $color-orange;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.text {
			font-size: 35px;
			line-height: 44px;

			.t2 {
				font-size: 25px;
			}
		}

		.action {

			.action-text {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}
}

