@font-face {
  font-family: 'PragmaticaLight';
  src: url('../fonts/PragmaticaLightC/PragmaticaLightC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PragmaticaLightC/PragmaticaLightC.woff') format('woff'),
  url('../fonts/PragmaticaLightC/PragmaticaLightC.ttf')  format('truetype'),
  url('../fonts/PragmaticaLightC/PragmaticaLightC.svg#PragmaticaLightC') format('svg');
  font-weight: normal;
  font-style: normal;
}
