.footer {
	text-align: center;

	.footer-top {
		color: #666;
		padding: 20px 0;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		background: #f7f7f7;

		strong {
			font-weight: 600;
		}

		a {
			color: #f68636;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.footer-bottom {
		padding: 10px 0;
		background: #fff;

		a {
			color: #4a4a4a;
			font-size: 14px;
			line-height: 20px;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		.madein {
			color: #444;
			height: 30px;
			font-size: 14px;
			line-height: 20px;
			display: inline-block;
			text-decoration: none;
			vertical-align: middle;
			padding: 5px 95px 0 5px;
			background: url("../img/creator-logo.png") 100% 50% no-repeat;


			span {
				display: inline-block;
				border-bottom: 1px solid #444;
			}
		}

		.footer-left {
			text-align: left;
			margin-bottom: 0;
		}

		.footer-right {
			text-align: right;
		}
	}

	.footer-left {
		margin-bottom: 20px;
	}


	@media (min-width: $screen-sm-min) {


	}
}