.btn {
	margin:0;
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 12px 25px;
	background: #f68636;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border: 1px solid #f68636;
	@include border-radius(23px);

	&:hover {
		color: #f68636;
		background: #fff;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-md {
	padding: 11px 24px;
	font-weight: 600;
	border-width: 2px;

	@media (min-width: $screen-sm-min) {
		font-size: 20px;
		padding: 21px 39px;
		@include border-radius(33px);
	}
}

.btn-transparent {
	color: #bababa;
	font-weight: 300;
	border-color: #bababa;
	background: transparent;

	&:hover {
		color: $color-orange;
		border-color: $color-orange;
	}
}

.btn-white-orange {
	font-weight: 600;
	background: #fff;
	padding: 11px 24px;
	color: $color-orange;
	border: 2px solid $color-orange;

	&:hover {
		color: #fff;
		background: $color-orange;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 20px;
		padding: 21px 30px;
		@include border-radius(33px);
	}
}