.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	padding: 17px 26px;
	text-align: center;
	display: inline-block;
	background: transparent;
	border: 1px solid #c6c6c6;
	@include border-radius(8px);

	@include placeholder(#2f2f2f);
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 30px;
}